.nav { list-style: none; }
.nav li { display:block;float:left; }
.nav li a{float:none;padding:10px 10px 11px;line-height:19px;}
.nav li a:hover{background-color:transparent;text-decoration:none;}
.nav .active a, .nav .active a:hover{text-decoration:none;}

.rounded {
    background-color:#fff; 
    border:1px solid rgba(0,0,0,0.1);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.05); 
    -moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.05); 
    box-shadow:0px 0px 10px 1px rgba(0,0,0,0.05); 
    padding-bottom: 1em;
    min-height: 800px;
    margin-top: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.andina-header {
    margin-top: 5px;    
}

.andina-header .logo {
    display: block;
    background-color: #CCC;
    width: 300px;
    height: 70px;
    text-indent: -1000px;
    margin-left: 20px;
}

.andina-header a:hover {
    color:#00438a;text-decoration:underline;
}

.andina-footer {
    background-color: #bfbfbf;
}

.andina-footer a:hover {
    color:#00438a;text-decoration:underline;
}

.dashed-right {
    border-right: 1px dashed #049cdb;
}

.footer-nav ul {
    list-style: none;
    display: block;
    float: left;
    margin: 5px 0px;    
}

.footer-nav ul li {
    display: block;
    float: left;
    padding-right: 10px;
}

.form-home {
    border:1px solid rgba(0,0,0,0.1); 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    background: #F4F4F4;    
}

.formulario-contacto {    
    width: 265px;
    height: 300px;    
}

.formulario-contacto h3 {
    background: #F4F4F4;
}

.formulario-contacto .line {
    height: 20px;    
    padding-top: 10px;
    line-height: 20px;
    padding-left: 7px;
    margin-bottom: 20px;
}

.formulario-contacto .image {
    margin-top:9px;    
    width: 20px;
    height: 20px;
    background: #ccc;
    float:left;    
}

.formulario-contacto h5 {
    padding-left: 25px;
    margin-left: 5px;
    font-size: 13px;
}

.form-destinos {
    width: 700px;
    height: 500px;     
}

.form-experiencias {
    width: 265px;
    height: 500px;     
}




