  <div class="container" style="margin-bottom: 20px;">
    <div class="rounded nav-footer" style="min-height: 18px;">
      <ul class="nav">
        <li>
          <%= link_to "Nosotros", :about_us %>          
        </li>
        <li>
          
          <%= link_to "Peru",:peru %>
        </li>
        <li>
          <%= link_to "Utilidad", :util_information %>
        </li>
        <li>
          <%= link_to "Forma de pago",:how_to_pay %>
        </li>
        <li>
          <a href="http://www.facebook.com/andinatravelclub?sk=photos" target="_blank">Fotos</a>
        </li>
      </ul>      
    </div>
  </div>