<div class="andina-header">
    <h1 class="left">
      <%= link_to "Andina travel club", home_path, {:class => "logo", :title => "Andina Travel Club"} %>
    </h1>
    <div class="right">
      <ul class="nav">
        <li>
          <a href="#">Paquetes turísticos</a>          
        </li>
        <li>
          <a href="#">Destinos</a>
        </li>
        <li>
          <a href="#">Viajes de Interés</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Contáctenos</a>
        </li>        
      </ul>
    </div>
</div>
