<% content_for :meta do %>
    <meta name="description" content="En este mundo de tanta competitividad tratamos de marcar una diferencia a través de la personalización, 
          nos empeñamos en conocer tus necesidades y superar tus expectativas estando pendientes de usted antes, durante y después de su viaje."/>    
    <title>Andina Travel Club - Conoce sobre andina travel club</title>
<% end %>
<div class="row" style="padding-left:20px;">
  <div style="width:1016px;margin: 0 auto;">
    <div class="rounded" style="padding:20px;min-height: 500px;">
      <h1 style="margin-bottom: 20px;">Andina Travel club</h1>
        
        <p class="justify">Perú un país inigualable, con más de 10 mil años de historia, con 84 de las 104 zonas de vida del planeta, 
           con más del 20% de las aves y el 10% de los reptiles y mamíferos del mundo, más de 3000 festividades llenas 
           de colorido y danza a nivel nacional. La exquisitez y pluralidad interminable de su gastronomía ahora 
           considerada una de las mejores del mundo. Y con la infinita herencia de nuestra Cultura Inca que convierte 
           al Santuario de Machu Picchu en un icono mundial hace que por todas estas razones no nos quede duda alguna 
           que el Perú es un destino <b>PRIVILEGIADO</b>.</p>

        <p class="justify">ANDINA TRAVEL CLUB conocedores de lo mucho que tenemos por dar a conocer busca a través de muchos años de 
          experiencia acumulada dar a sus clientes lo que mejor conocemos, que es más que realizar una reserva, o comprar 
          un ticket aéreo. Lo que ofrecemos a las personas va mucho más allá de una cotidiana intermediación. 
          Nosotros brindamos la posibilidad de vivir “Experiencias Únicas”. Pensando en ello nuestra empresa ha ido formando
          en el tiempo cualidades que nos permiten que usted, nuestro cliente, haga un viaje que recuerde para toda la vida.</p>
        <br/>
        <br/>
        <h3 style="margin-bottom: 10px;">VALOR AGREGADO</h3>
        <p class="justify">En este mundo de tanta competitividad tratamos de marcar una diferencia a través de la personalización, 
          nos empeñamos en conocer tus necesidades y superar tus expectativas estando pendientes de usted antes, durante y después de su viaje.</p>

        <h3 style="margin-bottom: 10px;">ASESORIA PERMANENTE</h3>
        <p class="justify">Desde el primer contacto usted tiene la posibilidad de resolver todas sus inquietudes y recibirá a cambio las respuestas que lo ayudarán a 
          armar su viaje de la mejor manera posible, con nuestras prontas sugerencias para obtener las mejores ventajas.</p>

        <h3 style="margin-bottom: 10px;">RAPIDEZ</h3>
        <p class="justify">Sabemos que en las múltiples ocupaciones del día a día el tiempo es un factor clave, 
          por ellos garantizamos una respuesta rápida vía telefónica o en línea para lograr ese esperado viaje.</p>

        <h3 style="margin-bottom: 10px;">CONFIANZA</h3>
        <p class="justify">Conocedores de que siempre existe una cuota de suspicacia en todo viaje nos esforzamos por reducirla 
          al mínimo mediante nuestras referencias, personas como usted que contaron con nosotros para visitar el Perú 
          y se llevaron gratas experiencias. Además de ser una empresa sería y formalmente constituida.</p>

        <br/>
        <br/>
        <h3 style="margin-bottom: 10px;">LAS OPINIONES DE NUESTROS CLIENTES</h3>
        <ul class="experiencias">
          <% @reviews.each do |review| %>
          <li>
            <blockquote>
              <%= raw RedCloth.new(review.description).to_html %>
              <small><%= review.name %></small>
            </blockquote>
          </li>
          <% end %>
        </ul>
    </div>    
  </div>
</div>