<% content_for :meta do %>
    <meta name="description" content="Andina travel club recibe los pagos mediante depósitos bancarios y/o pago con tarjeta de crédito. En el
      Perú somos una empresa legalmente constituida y Ud. lo puede comprobar a
      través de nuestro número de identificación empresarial que es el REGISTRO
      UNICO DEL CONTRIBUYENTE (RUC) cuyo número es: 20491924447 – ANDINA TRAVEL
      CLUB S.A.C."/>    
    <title>Andina Travel Club - Formas de Pago</title>
<% end %>
<div class="row" style="padding-left:20px;">
  <div style="width:1016px;margin: 0 auto;">
    <div class="rounded" style="padding:20px;min-height: 500px;">
      <h1>FORMAS DE PAGO</h1>

      <p class="justify">
      Ud. tendrá todos los datos de nuestra empresa para poder realizar el depósito 
      una vez que se encuentre conforme con el programa de viaje. En el Perú somos 
      una empresa legalmente constituida y Ud. lo puede comprobar a través de 
      nuestro número de identificación empresarial que es el 
      REGISTRO UNICO DEL CONTRIBUYENTE (R.U.C.) cuyo número es: 
      20552023979 – RAZÓN SOCIAL:  ANDINA TRIPS AND TRAVEL PERU S.A.C. 
      NOMBRE COMERCIAL: ANDINA TRAVEL CLUB</p>
      
      <p class="justify">
      También nos puede encontrar registrados en el Ministerio de Comercio Exterior
      de Turismo (MINCETUR) en el Directorio Nacional de Prestadores de Servicios 
      Turísticos colocando en Busqueda Especifica el número de RUC: 20552023979 y 
      en Razón Social: ANDINA TRIPS AND TRAVEL.</p>
        
      <p class="justify">Antes de realizar cualquier transferencia de dinero usted siempre:</p>

      <p class="justify">1) Recibirá una llamada nuestra para explicarle los últimos detalles de su viaje.</p>
      <p class="justify">2) Le daremos los datos de nuestros clientes para que usted los contacte con toda confianza y pregunte acerca de nuestros servicios para mayor tranquilidad.</p>
      <p class="justify">3) Nos tendrá que enviar los datos necesarios para poder empezar con las reservas de su viaje es decir: Apellidos y Nombres, n° de pasaporte, fecha de nacimiento, etc.</p>

      <h2 style="margin: 20px 0px;">DATOS DE NUESTRA EMPRESA</h2>

      <h3>Depósito Bancario</h3>

      <p><h4>Cuenta Corriente en Dólares Americanos</h4>
      Banco en Perú: <b>Banco de Crédito del Perú</b><br/>
      Nombre: <b></b>Yasser Silva / Fernando Silva</b><br/>
      Número de Cta. Ah. en dólares americanos: <b>193–21224051-1-34</b><br/>
      Código Swift: <b>BCPLPEPL</b><br/>
      Dirección: <b>Esq. Av. R. Rivera Navarrete / Av. Juan de Arona</b><br/>
      Teléfono: <b>+511.612.3456</b></p>

      <h3>Oficina en lima</h3>
      Pueden acercarse a nuestra oficina.<br/>
      Dirección: <b>Av. Arenales 2055 OF 118 Lince</b><br/>
      Teléfono: <b>+511.472.3553</b></p>
    </div>
  </div>
</div>