<div class="row clear" style="margin:0px;">
  <div class="span12">
    <div id="gallery">
      <% @banners.each do |banner|  %>
        <%= image_tag banner.image.url(:media) %>
        <div class="promotion">
          <h1><%= banner.title %></h1>
          <h2><%= banner.subtitle %></h2>
        </div>
      <% end %>
    </div>    
    <div id="thumbs">
      <% @banners.each do |banner| %>
        <%= image_tag banner.image.url(:thumb) %>
      <% end %>
    </div>    
  </div>
  <div class="span4">
    <div class="formulario-contacto form-home">
      <h3 style="text-align: center;border-bottom: 1px solid rgba(0,0,0,0.1)">Central de atención al cliente</h3>
      <div class="line">
        <div class="image"></div>
        <h5>+511.777.5014</h5>
      </div>
      <div class="line">
        <div class="image"></div>
        <h5>Llámanos por Skype</h5>
      </div>
      <div class="line">
        <div class="image"></div>
        <h5>receptivo@andinatravelclub.com</h5>
      </div>
        
    </div>
  </div>  
</div>
<div class="row clear" style="margin:10px 0px;">
  <div class="span12">
    <div class="form-home form-destinos">
      
    </div>
  </div>
  <div class="span4">
    <div class="form-home form-experiencias">
      
    </div>    
  </div>
</div>