<% content_for :javascript do %>
  <script type="text/javascript">
    $(".tour-gallery a").lightBox();
    $(".alert").alert();
  </script>
<% end %>
<div class="tour-banner">
  <%= link_to @tour do %>
    <%= image_tag @tour.image.url(:large) %>
    <div class="promotion">
      <h1><%= @tour.title %></h1>
      <h2><%= @tour.subtitle %></h2>
    </div>    
  <% end %>
</div>
  <div class="row" style="padding-left:20px;">
  <div style="width:1016px;margin: 0 auto;">
    <div class="rounded" style="padding:20px;min-height: 500px;">
      <h1>PERÚ</h1>

      <h2>Extensión</h2>
      <p>Con 1.285.215 km2, el Perú es tercer país de mayor extensión en América del Sur,
        después de Brasil y Argentina, situándose así entre los 20 países más extensos del planeta.</p>

      <p>Posee, además, 200 millas marinas y derechos territoriales sobre una 
        superficie de 60 millones de hectáreas en la Antartida. </p>

      <p>El Perú se encuentra organizado políticamente en 24 departamentos 
        (Amazonas, Ancash, Apurímac, Arequipa, Ayacucho, Cajamarca, Cusco, Huancavelica,
        Huánuco, Ica, Junín, La Libertad, Lambayeque, Lima-Provincias, Loreto, Madre de Dios, 
        Moquegua, Pasco, Piura, Puno, San Martín, Tacna, Tumbes y Ucayali), además del Callao,
        provincia constitucional.</p>

      <h2>Población</h2>
      <p>27.000.000 de habitantes.</p>
      <ul>
        <li>Urbana: 72,3%</li>
        <li>Rural: 27,7%</li>
      </ul>

      <p>El Perú es un país de todas las sangres. A través de su historia, el Perú ha sido 
        el punto de encuentro de diferentes razas y culturas. A la población nativa se sumaron 
        hace cerca de 500 años los españoles.</p>

      <p>Producto de ese encuentro, enriquecido posteriormente con las migraciones de negros, 
        asiáticos y europeos, emerge el hombre peruano, representante de una nación cuya riqueza 
        étnica constituye una de sus más importantes características.</p>

      <h2>Lengua</h2>
      <ul>
        <li>Castellano: 80,3%</li>
        <li>Quechua: 16,2%</li>
        <li>Otros idiomas: 3,0%</li>
        <li>Idiomas Extranjeros: 0,2%</li>
      </ul>
      
      <p>Como parte de su riqueza cultural, en el Perú coexisten una multitud de lenguas nativas.
        Aunque el español es el idioma de uso común, el quechua es una importante herencia del pasado 
        inca y en muchas regiones del país aún se habla con ligeras variantes según la zona.</p>

      <p>Existen, además, otros dialectos como el aymara (Puno) y diversas lenguas amazónicas 
        que se reparten en una sorprendente variedad de familias de las que, aún en estos días, 
        sobreviven cerca de 15 troncos lingüísticos, dando lugar a 43 lenguas diferentes.</p>

      <h2>Moneda</h2>
      <p>La moneda oficial del Perú es el Nuevo Sol (S/.) dividido en 100 céntimos. Circula en 
        monedas de 1, 5, 10, 20 y 50 céntimos, 1, 2 y 5 Nuevos soles y en billetes de 10, 20, 
        50, 100 y 200 Nuevos soles.</p>

      <h2>Gobierno</h2>
      <p>El Perú es una república democrática. El Presidente y los miembros del Congreso son 
        elegidos cada cinco años por votación universal. El actual Presidente Constitucional 
        del Perú es el Dr. Alan Garcia Pérez (2006-2011).</p>

      <h2>Religión</h2>
      <ul>
        <li>Católicos: 89,03%</li>
        <li>Evangélicos: 6,73%</li>
        <li>Otras Religiones: 2,56%</li>
        <li>Ninguna Religión: 1.65%</li>
      </ul>
      
      <p>El Perú es un pueblo creyente por naturaleza: la diversidad de creencias y la libertad 
        de culto se manifiestan en una variedad de fiestas y rituales que recogen tanto el fervor 
        católico, parte de la herencia española, como el misticismo de las milenarias culturas prehispánicas.</p>

      <h2>Perú: un destino privilegiado</h2>
      <p>Perú, país mágico y milenario, posee una diversidad y riqueza poco comunes en el mundo y ofrece al 
      visitante infinitas alternativas y la posibilidad de vivir una experiencia única: Historia, cultura, 
      naturaleza, aventura y mucho más en un solo destino.</p>

      <h2>Importante infraestructura hotelera</h2>
      <ul>
        <li>7.646 establecimientos de hospedaje que ofrecen 131.624 habitaciones y 229.886 plazas camas.</li>
        <li>26 hoteles de 5 estrellas, 26 de 4 estrellas y 487 de 3 estrellas.</li>
        <li>927 de 2 estrellas, 411 de 1 estrella y 42 albergues.</li>
      </ul>
      
      <h2>Herencia arqueológica</h2>
      <p>Diez mil años de historia en más de 180 museos y destinos arqueológicos. Si bien la
        palabra Perú evoca inevitable y casi inmediatamente, las imágenes de Machu Picchu y del Imperio 
        fundado por los Incas, por sus caminos es posible conocer el impresionante patrimonio arqueológico 
        heredado por civilizaciones más antiguas que dan testimonio de su arte, costumbres, ritos y desarrollo.</p>

      <h2>Naturaleza: Paraíso Natural</h2>
      <p>Contar con 84 de las 104 zonas de vida que existen en el planeta convierte al Perú en 
        un destino privilegiado para los amantes de la naturaleza.</p>

      <p>En el Perú viven cerca del 20% de las aves y el 10% de los mamíferos y reptiles del mundo.</p>

      <p>El Perú ha convertido el 13% de su territorio en Áreas Naturales Protegidas.</p>

      <h2>Fiestas y tradiciones</h2>
      
      <p>El Perú es país que baila y canta sus alegrías y tristezas con extraordinario colorido y 
        gran parafernalia. Son cerca de 3000 las que conforman el calendario anual de fiestas de 
        todas las regiones del país.</p>

      <h2>Una gastronomía incomparable</h2>
      <p>Más de 40 mil restaurantes en todo el país reflejan la diversidad de una nación que ha 
        mezclado sus tradiciones nativas con la culinaria europea, árabe, china, africana y japonesa. 
        El resultado: sabores únicos que convierten a la cocina peruana en una de las mejores y más diversas del mundo.</p>

      <h2>Geografía</h2>
      <p>El Perú se divide tradicionalmente en tres regiones: Costa, Sierra y Selva. </p>

      <p>Aunque esta sencilla división refleja la apariencia general de la geografía peruana, la 
        realidad es bastante más rica y compleja: en el Perú la naturaleza parece adoptar características 
        particulares que convierten a sus macizos montañosos, sus mesetas, sus selvas y sus valles, en 
        hábitats únicos. Una extraordinaria variedad de ecosistemas que alberga las más diversas especies 
        animales y plantas.</p>

      <h3>Costa</h3>
      <p>Zona bañada por el Océano Pacífico con áreas desérticas, hermosas playas y fértiles valles.</p>

      <p>La costa peruana presenta la forma de un extenso desierto recostado en las montañas. 
        Y es precisamente la presencia de los Andes al este, junto con la corriente fría de Humboldt 
        que llega hasta sus playas, lo que da a la zona esa característica árida y seca -desde el 
        desierto de Sechura hasta las pampas de Nasca y el desierto de Atacama que se ve esporádicamente 
        interrumpida por valles en los que una densa capa de nubes cubre los cielos y son frecuentes 
        las lloviznas ligeras en invierno.</p>

      <p>Debido a la humedad reinante en estas zonas, se produce una ligera sensación de frío, 
        aunque la temperatura raramente baja de 12° C. Durante el verano, en cambio, el sol brilla 
        con fuerza y la temperatura alcanza con frecuencia los 30° C. Las regiones central y sur de la costa 
        peruana poseen dos estaciones bien marcadas: una invernal, entre abril y octubre; y una estival, 
        entre noviembre y marzo. La región norteña de la costa, por su parte, no sufre el efecto de las
        aguas frías, lo que se traduce en casi 300 días de sol y temperaturas cálidas a lo largo del año 
        (hasta 35° C en el verano). El período de lluvias se produce entre noviembre y marzo.</p>

      <h3>Sierra</h3>
      <p>Zona montañosa dominada por la Cordillera de los Andes. Alcanza los 6.768 m.s.n.m. en la cumbre del Huascarán.</p>

      <p>En la sierra del Perú se presentan dos estaciones climáticas bien definidas: 
        una de estío, entre abril y octubre, caracterizada por días soleados, noches muy
        frías y ausencia de lluvias (la época ideal para recorrerla); y una lluviosa, entre 
        noviembre y marzo, en la que las precipitaciones son abundantes (por lo general sobre 
        los 1.000 mm). Un rasgo que caracteriza a esta región es la marcada variación de temperatura
        a lo largo del día; es común contar con temperaturas de 24° C al mediodía y tan bajas como -3°C 
        por la madrugada. </p>

      <p>Además, lo accidentado de la cordillera de los andes produce una reducción paulatina de la 
        temperatura hacia la zona más alta conocida, como "puna". El clima seco y agradable de la sierra 
        es ideal para el crecimiento de una enorme variedad de cultivos.</p>

      <h3>Selva</h3>
      <p>Zona de vegatación tropical de la cuenca del río Amazonas, donde se ubican las más grandes reservas de naturaleza.</p>
      <p>La extensa selva peruana, atravesada por el caudaloso río Amazonas, se puede dividir 
        en dos zonas muy diferenciadas: la selva alta o ceja de montaña (sobre los 700 msnm) que
        posee un clima subtropical y templado, con abundantes lluvias (alrededor de 3.000 mm al año)
        entre noviembre y marzo y días soleados entre abril y octubre; y la selva baja (por debajo de 700 msnm) 
        cuyo estío se produce entre los meses de abril y octubre y es una época ideal para el turismo, con
        días de sol y altas temperaturas, a menudo superiores a los 35°C.</p>

      <p>En estos meses los ríos disminuyen su caudal y las carreteras son fácilmente transitables. 
        La estación de lluvias en cambio, entre noviembre y marzo, se caracteriza por frecuentes 
        chaparrones (al menos uno al día) que pueden producir deterioros en las vías de acceso terrestres.
        La humedad en la selva es muy alta a lo largo del año. </p>

      <p>En la región sur se producen ocasionales "friajes" o "surazos", frentes fríos provenientes del 
        extremo sur del continente que se presentan entre los meses de mayo y agosto y en los que 
        la temperatura suele descender hasta 8-12°C.</p>

      <h2>Perú: Patrimonio de la Humanidad</h2>

      <h3>Ciudad del Cusco</h3>
      <p>Inscrita en la lista del Patrimonio Mundial en 1983.</p>

      <p>Cusco, al sur de los Andes peruanos (3250 msnm), es la primera ciudad turística del país y una 
        de las más importantes de América. Conocida por los incas como la "Ciudad Sagrada", Cusco es la 
        capital de uno de los principales imperios precolombinos: el Tahuantinsuyo.</p>

      <p>Su nombre en Quechua, Qosqo, significa el "ombligo del mundo", ya que en sus tiempos, 
        controlaba una vasta red de caminos que unían, en la practica, todo Sudamérica, desde el 
        sur de Colombia hasta el norte de Argentina.</p>

      <h3>Santuario Histórico de Machu Picchu</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en 1983</p>

      <p>La antigua ciudadela de Machu Picchu, al sur de los Andes peruanos, es la principal 
        atracción del Cusco. Descubierta en 1911 por el explorador estadounidense Hiram Bingham, 
        la ciudadela es considerada el ejemplo más extraordinario de arquitectura paisajística del mundo. 
        Machu Picchu ("montaña vieja" en quechua, la antigua lengua del Inca) está situada en la cima de 
        una montaña que domina el profundo cañón del río Urubamba, en plena selva tropical. 
        Se piensa que fue un centro de culto y de observación astronómica o el recinto privado 
        de la familia del Inca Pachacútec.</p>

      <h3>Complejo arqueológico de Chavín</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en 1985</p>

      <p>El sitio arqueológico de Chavín de Huántar, perteneciente al período que va del año 1000 al 300 a.C., 
        representa la síntesis del desarrollo de la cultura andina. Situado a 3185 msnm y a sólo tres horas por 
        autopista de la ciudad de Huaraz, el centro religioso de Chavín fue construído enteramente en piedra, 
        con pasadizos subterráneos y una serie de estructuras piramidales. En el interior del complejo se pueden 
        apreciar figuras en bajo relieve, en los arcos y las columnas, que combinan caracteres felinos, de ave rapaz 
        y de serpiente, elementos siempre presentes en la iconografía Chavín. En la galería subterránea se aprecia el 
        Lanzón, un gran monolito de 3.75 metros de alto, con la forma de una gigantesca punta de lanza. Chavín es uno 
        de los lugares sagrados más antiguos de América.</p>

      <h3>Parque Nacional Huascarán</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en 1985.</p>

      <p>El Huascarán es el segundo parque más alto en los Andes de Sudamérica y constituye el 
        corazón de la cadena montañosa tropical más alta del mundo. Sus altas llanuras y la cumbre 
        glacial del nevado que superan los 6000 metros de altura, son el ambiente en donde conviven 
        diversas especies de fauna como el cóndor, la vicuña, el ciervo de cola blanca, el puma, la vizcacha, 
        el gato y el zorro andino. El parque Huascarán posee 27 montañas, 663 glaciares, 269 lagos y 41 ríos.</p>

      <h3>Zona Arqueológica de Chan Chan</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en 1986.</p>

      <p>Chan Chan es conocida a nivel internacional como la ciudadela de barro más grande 
        del mundo prehispánico. En lengua Yunga, Jang Jang significa "sol, sol". Fue la capital 
        religiosa del señorío Chimú (700 - 1400 d.C.), en el valle del río Moche, en el departamento 
        de La Libertad (norte del Perú). Su extensión es de aproximadamente 20 km2, y se estima que 
        en ella habitaron alrededor de cien mil personas. La ciudad fue el centro urbano de un vasto 
        estado regional que dominó la mitad de la costa peruana desde Tumbes y la frontera con Ecuador 
        hasta el sur de Lima.</p>

      <h3>Parque Nacional del Manu</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en 1987.</p>

      <p>El parque se encuentra entre las provincias del Manu (Madre de Dios) y Paucartambo (Cusco), y 
        comprende los territorios de las faldas de los Andes Orientales en la selva amazónica peruana. 
        El área está habitada por un variado número de tribus, la mayoría de los cuales, actualmente, 
        no tienen contacto con el resto del mundo. El parque es también el paraíso de 20000 variedades 
        de plantas, 1200 especies de aves, 200 especies de mamíferos y un número desconocido, hasta el 
        momento, de reptiles, anfibios e insectos.</p>

      <h3>Centro Histórico de Lima</h3>
      <p>En 1988, el Convento de San Francisco fue inscrito en la lista del Patrimonio Mundial</p>

      <p>En 1991, el Centro Histórico de Lima, recibió el mismo reconocimiento.</p>

      <p>Lima, conocida como la Ciudad de los Reyes, fue desde su fundación un oasis de la cultura y de
        la elegancia en la América Española. Iglesias en estilo barroco y renacentista, palacios con 
        balcones estilizados que constituyen la notable arquitectura de Lima, una ciudad que ofrece al 
        visitante museos, galerías de arte, lugares de recreación y sitios arqueológicos pertenecientes 
        a civilizaciones anteriores a la época incaica.</p>

      <h3>Parque Nacional del Río Abiseo</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en 1990.</p>

      <p>Situado en los Andes orientales del Perú, el parque se encuentra en la confluencia de los ríos Marañón 
        y Huallaga, ambos afluentes del río Amazonas. Existe en la zona importante testimonio prehispánico que 
        ocupa una superficie mayor a 1500 km2 tanto dentro como fuera del parque. Desde 1986 el Parque del 
        río Abiseo no está abierto al público.</p>

      <h3>Líneas de Nazca</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en 1994.</p>

      <p>A dos horas de Ica, las increíbles líneas que trazan diversas figuras de animales, aves y divinidades,
        cubren el desierto en una extensión mayor a 450 km2. Las líneas de Nasca, descubiertas en 1927, son la
        herencia más importante dejada por la cultura Nasca, una civilización que floreció en el 300 a.C. 
        Las líneas, en algunos casos, tienen una longitud de 300 metros, por lo que pueden ser vistas sólo desde lo alto.</p>

      <h3>Centro Histórico de Arequipa</h3>
      <p>Inscrito en la lista del Patrimonio Mundial en el 2000</p>

      <p>Arequipa, la segunda ciudad más grande del Perú, está situada al sur de los Andes 
        peruanos. Se le conoce también como la "Ciudad Blanca", por la piedra volcánica (sillar), 
        con la que son construídas las casas y los edificios públicos de la ciudad. En el entorno 
        de Arequipa existen innumerables atracciones turísticas como los cañones del Colca y de 
        Cotahuasi, éste último, el más profundo del mundo. El valle del Colca, por su paisaje, 
        constituye un escenario natural impresionante por la combinación de terrazas agrícolas 
        que se remontan a la época incaica y más de una docena de villas fundadas en el siglo XVI.</p>

      <h2>Comunicaciones</h2>

      <h3>Telefonía</h3>
      <p>El Perú cuenta con una amplia red telefónica que garantiza los servicios de larga 
        distancia nacional e internacional en teléfonos públicos y privados. En la actualidad existen, además, 
        1.300.000 abonados en el mercado de telefonía móvil y el sistema de comunicación satelital se encuentra 
        en pleno desarrollo</p>

      <h3>Internet</h3>
      <p>Una extensa red de empresas en todo el país posibilita el acceso público a Internet. 
        Éstas se denominan comúnmente "cabinas Internet" y el costo promedio por una hora de 
        conexión es de S/.3.5 (US$1)</p>

      <h3>Aeropuertos</h3>
      <p>14 aeropuertos equipados para recibir vuelos comerciales y 10 listos para vuelos 
        internacionales: Lima, Arequipa, Chiclayo, Pisco, Pucallpa, Iquitos, Cusco, Trujillo, 
        Tacna y Juliaca. 17 aerolíneas operan vuelos internacionales.7 aerolíneas ofrecen vuelos nacionales.</p>

      <h3>Puertos</h3>
      <p>El primer puerto del Perú es el Callao. Otros puertos importantes en el país son 
        Paita, Salaverry, Chimbote, Callao, Pisco, Ilo y Matarani. </p>
    </div>    
  </div>
</div>