<% content_for :javascript do %>
  <script type="text/javascript">
    $(".tour-gallery a").lightBox();
    $(".alert").alert();
  </script>
<% end %>
  <div class="row" style="padding-left:20px;">
  <div style="width:1016px;margin: 0 auto;">
    <div class="rounded" style="padding:20px;min-height: 500px;text-align: justify;">
      <h1 style="margin-bottom: 10px;">TÉRMINOS Y CONDICIONES</h1>
      <h2 style="margin: 10px 0px;">TARIFAS</h2>
      <p>Todas las tarifas se expresan en dólares americanos y están sujetas a cambio sin previo aviso. 
        La tarifa es por persona, sobre una base de ocupación doble, a menos que se especifique diferentes condiciones.</p>

      <h2 style="margin: 10px 0px;">ITINERARIO</h2>
      <p>Los Itinerarios se planean con gran cuidado aunque, por razones operacionales, 
        puede ser necesario cambiar el orden de actividades en el itinerario, o la ruta especificada,
        y si bien tales casos puedan ser raros, el itinerario en general sólo debe asumirse como una guía básica.</p>

      <h2 style="margin: 10px 0px;">PASAJES AÉREOS</h2>
      <p>Los precios de los pasajes están sujetos a disponibilidad y a cambio sin previo aviso hasta que 
        hayan sido emitidos. Los horarios, números de vuelos y días de operación están sujetos a cambio hasta
        la fecha de viaje por parte de la aerolínea. </p>

      <p>Se aplican algunas restricciones, incluyendo (pero no de manera limitativa) el hecho que los boletos 
        perdidos no son reembolsables, y que están sujetos a limitaciones propias de las aerolíneas, multas y/o 
        condiciones específicas de la tarifa contratada. </p>
      
      <p>Los boletos aéreos no son reembolsables, en caso de cancelación del viaje.</p>

      <h2 style="margin: 10px 0px;">RESERVAS DE HOTELES QUE NO FORMEN PARTE DE UN TOUR ORGANIZADO</h2>

      <h3>Anulaciones y Reembolsos</h3>
      <ul>
        <li>Si una anulación se recibe hasta e incluyendo 30 días antes de la fecha de llegada a América del Sur, el depósito del viaje es reembolsable menos gastos administrativos.</li>
        <li>Si una anulación se recibe 29-15 días antes de la fecha de llegada a América del Sur, el reembolso estará sujeto a una penalidad del 30% del costo total. </li>
        <li>No se concederá reembolso alguno si la anulación se recibe con hasta o menos de 14 días antes de la fecha de llegada a América del Sur, en caso de no-presentación del(los) pasajero(s) o de presentarse la anulación durante la estadía. </li>
      </ul>

      <h2 style="margin: 10px 0px;">TOURS CONTRATADOS</h2>
        
      <h3>Anulaciones y Reembolsos</h3>
      <p>Anulaciones y solicitudes de reembolsos se deben enviar por escrito incluyendo toda la información pertinente y serán atendidas inmediatamente. </p>

      <ul>
        <li>Si una anulación se recibe hasta e incluyendo los 35 días calendario antes de la fecha de llegada a América del Sur, el depósito del viaje será reembolsable íntegramente menos gastos administrativos. </li>
        <li>Si una anulación se recibe de 35 a 15 días calendario antes de la fecha de llegada a América del Sur, el reembolso estará sujeto a una penalidad del 30% del precio contratado. </li>
        <li>No se concederá reembolso alguno si la anulación se recibe con menos de 15 días calendario antes de la fecha de llegada a América del Sur, en caso de no-presentación del(los) pasajero(s) o en caso de una anulación durante el viaje. </li>
        <li>Ciertos servicios se pueden interrumpir o pueden ser cancelados debido a condiciones climáticas, razones de fuerza mayor, disturbios, protestas etc. u otras fuera del control de los hoteles, líneas aéreas, proveedores o de ANDINA TRAVEL CLUB o sus asociados. Ningún reembolso o costo adicional será otorgado o asumido como resultado de estas interrupciones o cancelaciones ajenas a nuestro control. </li>
        <li>Ciertos Hoteles tienen políticas más rigurosas de cancelación por lo que deberá guiarse de las políticas específicas que se le indiquen. </li>
      </ul>

      <p><b>NOTA: Ciertos proveedores tienen políticas más rigurosas de cancelación referente a grupos. Por lo tanto, en las reservaciones de grupo que excedan los 08 pasajeros, los proveedores se reservan el derecho de imponer una penalidad del 25% hasta 90 días antes de la fecha del viaje, y el 100% de penalidad por anulación hasta 45 días antes de la fecha de viaje.</b></p>

      <p>Durante el período de temporada alta, nuestra compañía se reserva el derecho de alterar las políticas 
        de anulación si nuestros proveedores aplican diversas penalidades a aquellas enumeradas más arriba. (siéndo 
        informado previamente el cliente de los periodos de temporada alta en las  que las condiciones de anulación  son diferentes)</p>

      <ul>
        <li>ALTA: JUNIO A OCTUBRE</li>
        <li>BAJA: NOVIEMBRE A MAYO</li>
      </ul>

      <h2 style="margin: 10px 0px;">MÉTODOS DE PAGO</h2>
      <p>A menos que se haya tratado un acuerdo especial por escrito, todos los servicios solicitados deben ser 
        pagados por adelantado según se detalla más abajo. Los cheques personales no son aceptados.</p>
      <p>En caso de no abonar el saldo del precio total del tour vencido los plazos establecidos, ANDINA TRAVEL CLUB 
        podrá cancelar el tour sin que correspondiere devolución alguna por ningún concepto o aplicar la multa por pago fuera de término.</p>

      <h3>Con tarjeta de crédito</h3>
      <p>Pago electrónico con tarjeta Visa bajo la modalidad de Servidor Seguro y Verified by Visa. ( con el incremento correspondiente de 8% de comisión)</p>
      <h3>Mediante transferencia bancaria</h3>
      <p>Enviar la transferencia a la orden de ANDINA TRAVEL CLUB S.A.C a nuestro banco (en dolares). Los gastos de transferencia desde el extranjero serán abonados por el ordenante, salvo que se especifique lo contrario. Nuestra empresa asume los gastos generados en nuestro país por la transferencia.</p>
      <p>Le agradeceremos enviarnos una copia de su transferencia por email a gerencia@andinatravelclub.com</p>

      <h2 style="margin: 10px 0px;">RESPONSABILIDAD</h2>
      <p>En todos los arreglos de viaje ANDINA TRAVEL CLUB actúa por cuenta y orden de nuestros clientes, organizando 
        en su nombre los medios de transporte, alojamiento u otros servicios turísticos requeridos, por lo cual no asumimos 
        la responsabilidad en caso de accidentes, pérdidas, demoras o interferencias con el tour por razones de fuerza 
        mayor u otros acontecimientos que no involucran nuestra responsabilidad, especialmente con respecto a programas y horarios.</p>

      <h2 style="margin: 10px 0px;">¡IMPORTANTE!</h2>
      <p>Nuestra Empresa no se hace responsable por enfermedades, estado de gravidez o impedimentos físicos o mentales, 
        que puedan poner en peligro la salud o la integridad del pasajero o terceros durante el desenvolvimiento del tour 
        contratado o que impliquen limitación o impedimento para la prestación de nuestros servicios turísticos. 
        Por tanto, la Empresa NO reconocerá reclamo o devolución alguna por los conceptos arriba mencionados, 
        incluyendo los casos donde en condiciones normales no se manifiestan problema alguno.</p>

      <p>Así, solicitamos se nos informe previa a la contratación de nuestros servicios la existencia de alguna limitación 
        de esta naturaleza, de modo de recomendar servicios específicos que contemplen los impedimentos existentes. <br>
        Es recomendable que todos los pasajeros de países extranjeros  debán llevar un seguro de asistencia médica, el cual debe ser contratado en su país de origen.</p>
      
    </div>    
  </div>
</div>