<% content_for :meta do %>
    <meta name="description" content="Información de utilidad sobre Aduanas, Seguridad personal, Teléfonos importantes, Plan de asistencia al viajero, etc."/>    
    <title>Andina Travel Club - Información útil</title>
<% end %>
<div class="row" style="padding-left:20px;">
  <div style="width:1016px;margin: 0 auto;">
    <div class="rounded" style="padding:20px;min-height: 500px;text-align: justify">
      <h1>DE UTILIDAD</h1>
      <p><b>Aduanas:</b> No se permite sacar del país objetos de valor histórico, arqueológico o artístico 
        sin el permiso adecuado. El Perú posee acuerdos internacionales con la mayoría de países 
        para la confiscación y repatriación de este tipo de objetos, por lo tanto recomendamos no correr ningún riesgo.</p>
      
      <p><b>Agua y Comidas:</b> Recomendamos tomar únicamente agua embotellada, el agua corriente en
        Perú es procesada de manera distinta a la utilizada en otros países. Evite consumir alimentos 
        preparados por vendedores ambulantes pues podrían no ofrecer garantías.</p>
      
      <p><b>Drogas:</b> La ley peruana es clara y estricta en lo que concierne a la posesión, 
        uso o distribución de narcóticos incluyendo la marihuana y la cocaína. El infractor no será 
        deportado sino encarcelado y juzgado bajo la Ley peruana.</p>
      
      <p><b>Clima:</b> Marzo es uno de los meses más cálidos del año. La costa tiene sol moderado 
        y temperatura templada. La sierra se mantiene lluviosa y soleada. Como calidad y lluviosa 
        se puede considerar la Selva durante todo el año.</p>
      
      <p><b>Hora:</b> La hora limeña se encuentra cinco horas detrás del meridiano de Grenwich y 
        coincide con la hora standard del Este en los Estados Unidos.</p>
      
      <p><b>Llamadas Internacionales:</b> Marque el 108 para ser asistido por una operadora o haga 
        su llamada a través de la recepción del hotel. Para llamadas directas marque 00 seguido del código de país y ciudad.</p>
      
      <p><b>Impuestos:</b> En todas sus compras estará siempre incluido el I.G.V. (Impuestos 
        General a las Ventas) que asciende al 18% del valor neto de la compra. Los impuestos 
        de aeropuertos son USD $ 25 para vuelos internacionales y USD $ 4 para nacionales.</p>
      
      <h2>Documentación del Viajero</h2>
      
      <h3>Seguridad personal</h3>
      <ul>
        <li>Infórmese y procure evitar pasar por los lugares que los residentes consideran zona de riesgo.</li>
        <li>No maneje en áreas alejadas de las vías principales y lleve siempre consigo un mapa actualizado.</li>
        <li>Evite llevar artículos que lo identifiquen como turista.</li>
        <li>Evite el uso de joyería ostentosa, relojes y artículos que llamen la atención.</li>
        <li>Lleve poco efectivo: porte cheques de viajero, que son reemplazables en caso de pérdida o robo.</li>
        <li>Siempre que sea posible, asegúrese que su cuarto en el hotel tenga chapa de seguridad.</li>
        <li>Asegúrese que las cerraduras de puertas y ventanas sean seguras.</li>
        <li>Mantenga sus prendas de valor en las cajas de seguridad.</li>
        <li>Coloque el letrero “No molestar” en la puerta cuando se encuentre fuera.</li>
        <li>Nunca abra la puerta de su habitación para recibir paquetes o visitas inesperadas.</li>
      </ul>
      
      <h3>Teléfonos Importantes</h3>
      
      Siempre lleve consigo:
      
      <ul>
        <li>Doctor y Servicios locales de emergencia.</li>
        <li>Línea aérea.</li>
        <li>Seguro de asistencia médica.</li>
        <li>Embajada y Consulado de Perú. </li>
        <li>Familiares en casa.</li>
        <li>Oficina.</li>
        <li>Agencia de Viajes.</li>
      </ul>
      
      <h3>Plan de Asistencia del Viajero</h3>
      
      Es indispensable para evitar que nuestro viaje se estropee contar con un seguro de asistencia el cual debe contemplar: 
      
      <ul>
        <li>Atención las 24 horas.</li>
        <li>Cobertura médica en caso de enfermedades o accidente.</li>
        <li>Servicio de localización de equipaje.</li>
        <li>Repatriación sanitaria sin límites.</li>
        <li>Honorario de abogado.</li>
        <li>Gastos por vuelos demorados o cancelados.</li>
        <li>Asistencia en caso de pérdida de documentos.</li>
      </ul>
      
      <h3>Precauciones</h3>
      
      <ul>
        <li>Haga una investigación medica antes e salir. Identifique que países de los que visitará requieren vacunas y de medidas preventivas que son mandatorias o sugeridas para entrar en los mismos.</li>
        <li>Empaque un par adicional de lentes de contacto y lleve una copia de su receta médica.</li>
        <li>Lleve alguna identificación médica si sufre de diabetes, alergia o algún medicamento, o alguna otra condición que requiera cuidados de emergencia.</li>
        <li>Lleve sus medicinas en sus recipientes originales para evitar problemas en las aduanas.</li>
        <li>Evite ingerir vegetales crudos, fruta sin pelar, carne, mariscos, agua, hielo y leche sin pasteurizar.</li>
        <li>Beba únicamente agua embotellada y bebidas selladas, o agua hervida o tratada.</li>
        <li>Resista la tentación de comprar alimentos de vendedores de la calle.</li>
        <li>Verifique con la línea aérea el peso de equipaje permitido, evite pagar por exceso de equipaje.</li>
        <li>En muchos de los aeropuertos internacionales solo aceptan el pago del impuesto de salida en su moneda local.</li>
        <li>Ciertos impuestos de aeropuerto son cobrados solo en destino.</li>
      </ul>
      
      <h3>Viaje Con Niños</h3>
      <ul>
        <li>En lugares concurridos siempre debe llevar a los niños con ropa fácilmente reconocible.</li>
        <li>Poner en algún lugar de la ropa del niño su nombre así como la dirección, teléfono y nombre del hotel donde se hospedan.</li>
        <li>Tener a mano el contacto medico más cercano.</li>
        <li>Procurar en su elección que el hotel donde estará tenga plan de actividades para niños.</li>
        <li>Llevar medicinas pediatras para aliviar malestares usuales como: dolor de estomago, oídos, mareos, resfrío o fiebre.</li>
        <li>En viajes largos en avión o en auto, llevar los juguetes predilectos del niño.</li>
        <li>Evite jornadas largas y cansadas, trate siempre de tener periodos de descanso.</li>
      </ul>
          
      <h3>Selección de un Programa Turístico</h3>
      
      <ul>
        <li>Se debe revisar si está o no incluido en el programa que se nos ofrece.</li>
        <li>Revise con detenimiento los lugares que se visitarán durante el recorrido, diferenciando aquellos que se visitan específicamente, de aquellos que se ven en un recorrido desde el autobús.</li>
        <li>Identificar las visitas opcionales, ya que estas tienen un costo aparte.</li>
        <li>Estudiar la intensidad de las jornadas de viaje, ya que algunos recorridos pueden tener días recargados.</li>
        <li>Siempre solicite información detallada de los plazos de pago y política de reembolso en caso de desistir o modificar la fecha de viaje.</li>
      </ul>
      
      <h3>Pautas generales a seguir para asegurar una estadía saludable en su travesía por Perú.</h3>
                 
      <ul>
        <li>Póngase mucho repelente si planea visitar la selva.</li>
        <li>Vacúnese contra la malaria si va a visitar la selva o los departamentos dl norte del   país.</li>
        <li>Lávese las manos frecuentemente con agua y jabón.</li>
        <li>Lleve consigo un rollo de papel higiénico, muchas veces no hay baños alrededor.</li>
        <li>Use ropa de manga larga cuando visite la selva y duerma bajo un mosquitero.</li>
        <li>No tome agua de caño. Tome sólo agua embotellada y pida su bebida sin hielo.</li>
        <li>No coma ensaladas, coma frutas y verduras que se puedan pelar.<li>
        <li>No compre comida a los ambulantes.</li>
        <li>No coma productos lácteos a no ser que hayan sido pasteurizados.</li>
        <li>No toque animales como monos, perros o gatos para evitar enfermedades como la rabia.</li>
        <li>No nade en ríos, lagos ni lagunas, el mar es mejor. Primero pregunte cuán seguro es bañarse allí ya que algunas playas se encuentran contaminadas.</li>
      </ul>
      
      <h3>Vacunas</h3>
      No se necesita ninguna vacuna para poder ingresar al país. Sin embargo, hay algunas vacunas que se recomiendan, tales como: Cólera, Hepatitis A, Tétano, Tifoidea y Fiebre Amarilla. Muchas de ellas son recomendadas si se va a pasar tiempo en la Selva. Malaria es común en Amazonas. Visite su doctor con seis semanas de anticipación al viaje porque algunas vacunas demoran un tiempo en hacer efecto. Pregúntele que recomiendan y los efectos secundarios de cada vacuna.
      
      Para mayor información sobre vacunas en el Perú, visite:
      <a href="http://www.cdc.gov/spanish/default.htm" target="_blank"><b>www.cdc.gov/spanish/default.htm</b></a>
      
      <h3>Seguros</h3>
      Se recomienda que tome un seguro de viajes antes de salir de casa. Algunas veces los hospitales y clínicas piden el pago en efectivo, conserve sus recibos para que luego se efectúe el reembolso. Si piensa en hacer deportes de aventura tales como: canotaje, motocross, parapente, entre otros, pregunte si el seguro cubre dichas actividades.
      
      <h3>Números Importantes</h3>
      Contáctese con la policía de turismo.
      
      <div style="margin-top: 10px;">
        <b>Ayacucho</b>
      <address>
        Entre el Jr. 2 de Mayo y el Jr. Arequipa<br>
        (064) 81-2055 / 81-8372<br>
        Atención: 24 horas<br>
      </address>
      </div>
      
      <div style="margin-top: 10px;">
      <b>Cajamarca</b>
      <address>
        Plazuela Amaliapuga s/n<br>
        (044) 82-29-41<br>
        Atención: 8am - 1pm, 5pm - 8pm<br>
      </address>      
      </div>
      
      <div style="margin-top: 10px;">
      <b>Cusco</b>
      <address>
      Ovalo Pachacutec s/n <br>
      (084) 24-9654<br>
      Atención: 24 horas<br>
      </address>      
      </div>      
      
      <div style="margin-top: 10px;">
      <b>Huancayo</b>
      <address>
      Av. Ferrocarril 556 Cercado<br>
      (064) 21-9851<br>
      Atención: 8am - 1pm, 5pm - 8pm<br>
      </address>      
      </div>      
      
      <div style="margin-top: 10px;">
      <b>Ica</b>
      <address>
      Por la Plaza de Armas al costado de la tienda Carsa<br>
      No hay teléfono.<br>
      </address>      
      </div>      
      
      <div style="margin-top: 10px;">
      <b>Lima</b>
      <address>
      Museo de la Nación, Javier Prado 2465, 5to piso San Borja<br>
      (51 1) 476-9896<br>
      Atención: 8am-10pm<br>
      </address>      
      </div>      
      
      <div style="margin-top: 10px;">
      <b>Nazca</b>
      <address>
      Av Los Incas cuadra 1 s/n<br>
      (034) 52-2442 / 52-2450<br>
      Atención: 24 horas<br>
      </address>      
      </div>      
      
      <div style="margin-top: 10px;">
      <b>Puno</b>
      <address>
      (054) 36-4806<br>
      San Román<br>
      </address>      
      </div>      
      
      <div style="margin-top: 10px;">
      <b>Tacna</b>
      <address>
      Jr. Callao 121<br>
      (054) 71-4141 anexo 245<br>
      Atención: 24 horas <br>
      </address>      
      </div>      
      
      <h3>Visa de negocios</h3>
      <p>Todos los países necesitan visa de negocios para el Perú.</p>
      
      <h3>Visa de turista</h3> 
      <p>Todos los países necesitan visa de negocios para el Perú. La siguiente relación corresponde a los países que necesitan visa de turismo para el Perú: </p>
      
      <b>América del Norte</b><br>
      <p>Ningún país de América del Norte necesita visa de turismo para venir al Perú.</p>
      
      <b>América Central y Caribe</b><br>
      <p>Cuba</p>
      
      <b>América del Sur </b><br>
      <p>Ningún país de América del Sur necesita visa de turismo para venir al Perú.</p>
      
      <p>Todo pasajero debe acercarse al Consulado peruano más cercano para verificar que visa es requerida , ya que los requisitos de visa pueden ser sujetos a cambio en cualquier momento. </p>
      
      <h3>Impuestos</h3> 
      <p>En el Perú existe un Impuesto General a las Ventas (IGV) que es del 19%. Este es agregado automáticamente a cada factura o cuenta. </p>
      
      <p>Toda persona que vuele del Perú al extranjero deberá pagar un impuesto de salida de U.S $30.25. Para vuelos nacionales el impuesto es de U.S $6.05. Este impuesto sólo se aplica cuando se sale del Perú y sólo puede ser pagado en efectivo. </p>
      
      <h3>Propinas</h3>
      <p>Cuando pague la cuenta en un restaurante, fíjese si la propina está incluida en la parte de debajo de la boleta. Esto significa que los restaurantes han aumentado la propina, usualmente entre 5% y 10% de la cuenta. Si cree que el servicio es bueno, le puede dar al mozo un extra 10% de propina. Los restaurantes más baratos no incluyen propina, en este caso se recomienda dejarle al mesero un 10% del total de la cuenta. En buenos hoteles se debe dar una propina de U,S $0.50 por bolsa o maleta. </p>
      
      <p>A diferencia de otros países en Perú no se suele dejar propina a los taxistas. Los taxis no tienen taxímetro, así que antes de subirse a un taxi, llegue a un acuerdo con el chofer, para ver cuánto le va a cobrar. Para tours, se recomienda darle US $5.00 de propina al chofer, por persona, por día. Si se encuentra en un grupo más amplio podría pagar la mitad de lo mencionado anteriormente. Si planea en ir a hacer Caminos del Inca, debe de dar propina a su guía, al cocinero y a la persona que le carga las maletas. </p>
      
      <h3>Feriados para el Año 2012</h3>
      
      <ul>
        <li>Año Nuevo - 1ro de Enero</li>
        <li>Semana Santa -17 y 18 de Abril</li>
        <li>Día del Trabajo - 1ro de Mayo</li>
        <li>San Pedro y San Pablo - 29 de Junio</li>
        <li>Fiestas Patrias - 28 de Julio</li>
        <li>Santa Rosa de Lima - 30 de Agosto</li>
        <li>Combate de Angamos - 8 de Octubre</li>
        <li>Día de todos los Santos - 1ro de Noviembre</li>
        <li>Inmaculada Concepción - 8 de Diciembre</li>
        <li>Navidad - 25 de Diciembre</li>
      </ul>
      
      <h3>ADUANA EN PERU</h3>
      Equipaje exonerado del pago de Derechos de Aduana:<br><br>
      
      <ul>
        <li>Prendas de vestir que se adviertan son de uso personal del viajero.</li>
        <li>Artículos de tocador adecuados a la condición del viajero y en cantidades razonables.</li>
        <li>Objetos de uso y adorno personal.</li>
        <li>Una secadora o cepillo portátil para el cabello.</li>
        <li>Medicamentos de uso personal.</li>
        <li>Una máquina rasuradora eléctrica.</li>
        <li>Libros, revistas y documentos en general.</li>
        
        <li>Una calculadora electrónica portátil.</li>
        <li>Una cámara fotográfica y hasta cinco (5) rollos de película.</li>
        <li>Hasta tres (3) litros de licor. <b>(sólo para pasajeros mayores de 18 años)</b>.</li>
        <li>Una filmadora o cámara de video-cassette, siempre que no sean para uso profesional, y hasta cinco (5) rollos o cassettes para videograbadora.</li>
        <li>Hasta TRESCIENTOS DOLARES AMERICANOS (US$ 300.00) en artículos diversos para uso o consumo del viajero, o para obsequio que por su cantidad, naturaleza y variedad se presuma que no serán destinados al comercio y siempre que el valor unitario de estos artículos no exceda de los CIEN DOLARES AMERICANOS (US$ 100.00).</li>
        <li>Hasta veinte (20) cajetillas de cigarrillos o cincuenta (50) cigarros puros o doscientos cincuenta (250) gramos de tabaco picado o en hebras para fumar. <b>(sólo para pasajeros mayores de 18 años)</b>.</li>
        <li>Discos fonográficos, cintas magnetofónicas, discos compactos o cassettes, hasta por un máximo en conjunto de diez (10) unidades.</li>
        <li>Una máquina de escribir portátil mecánica, eléctrica o electrónica.</li>
        <li>Un instrumento musical de viento o cuerda portátil.</li>
        <li>Un animal doméstico vivo como mascota; sin perjuicio de exigir el cumplimiento de las regulaciones sanitarias correspondientes y siempre que arribe como equipaje acompañado.</li>
        <li>Los objetos declarados como equipaje a la salida del país y que figuren en la DECLARACION DE SALIDA TEMPORAL <b>(Sólo para pasajeros residentes en Perú)</b>.</li>
        <li>Un receptor de radio, o una radiograbadora o una grabadora, o un tocacassette, o un tocacintas o un tocadiscos (convencional o de disco compacto), o un equipo que en su conjunto los contenga, siempre que sea PORTATIL con fuente de energía propia (CC ó CC-CA).</li>
        <li>Maletas, bolsas y otros envases de uso común que contengan los objetos que constituyen el equipaje del viajero.</li>
        <li>Una computadora personal portátil, con fuente de energía propia, siempre que arribe como equipaje acompañado, Según DECRETO SUPREMO N° 027 - 2001 - EF.</li>
        <li>Los visistantes a Perú pueden ingresar artículos para practicar deportes de aventura tales como Parapente, Ala Delta, escalada de montaña, canotaje, casería, surfing, wind surfing, etc., luego de haber presentado un Declaración de Internamiento Temporal.</li>
        <li>En el caso de viajeros impedidos o enfermos se considerará como equipaje los medios auxiliares y equipos necesarios para su movilización (silla de ruedas, camillas, muletas entre otros).</li>
      </ul>
     
      <b>Nota: Los viajeros podrán traer como equipaje artículos no comprendidos en la relación anterior, pagando una tasa única de 20 % del valor CIF, a la suma de artículos cuyo valor no exceda de los mil dólares americanos.</b>      
    </div>  
  </div>
</div>
