<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Andina Travel club</title>
  <%= stylesheet_link_tag "0.bootstrap.min","2.slider","3.style" %>  
  <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="navbar">      
        <div class="navbar-inner">
          <div class="container">
            <a href="javascript:void(0);" class="brand">Andina travel club</a>
          </div>
        </div><!-- /topbar-inner -->
    </div>

    <div class="container">      
      <%= yield %>    
    </div>    
  </body>
</html>
